<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/headelements :: headElements"></head>
    <title>SpringBootFileUploadDemo - Home</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <main>
        <section class="mainContent">
            <h1>Welcome to the SpringBoot FileUpload Demo WebApp</h1>
            <hr>
            <section class="articles">
                <article>
                    <h3>Article Title 1 Heading 3</h3>
                    <p class="para">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur assumenda dicta dolorum ea earum eius eum explicabo hic ipsam laboriosam, laborum minus nam neque obcaecati odio officia sequi sunt?
                    </p>
                    <p class="para">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at commodi consequuntur, culpa cum debitis esse eum fuga ipsa laborum minus mollitia officiis placeat qui quia quo repudiandae sint. Autem earum inventore nisi repellendus. Deserunt molestiae necessitatibus nulla! Cum dolorem eos id ipsa modi repellendus similique totam velit? Non, recusandae!
                    </p>
                </article>
                <article>
                    <h3>Article Title 2 Heading 3</h3>
                    <p class="para">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur assumenda dicta dolorum ea earum eius eum explicabo hic ipsam laboriosam, laborum minus nam neque obcaecati odio officia sequi sunt?
                    </p>
                </article>
            </section>
            <section class="articles">
                <article>
                    <h3>Article Title 1 Heading 3</h3>
                    <p class="para">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur assumenda dicta dolorum ea earum eius eum explicabo hic ipsam laboriosam, laborum minus nam neque obcaecati odio officia sequi sunt?
                    </p>
                    <p class="para">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam excepturi fuga magnam minima quis sequi tenetur totam voluptate voluptatum.
                    </p>
                </article>
                <article>
                    <h3>Article Title 2 Heading 3</h3>
                    <p class="para">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur assumenda dicta dolorum ea earum eius eum explicabo hic ipsam laboriosam, laborum minus nam neque obcaecati odio officia sequi sunt?
                    </p>
                </article>
                <article>
                    <h3>Article Title 2 Heading 3</h3>
                    <p class="para">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur assumenda dicta dolorum ea earum eius eum explicabo hic ipsam laboriosam, laborum minus nam neque obcaecati odio officia sequi sunt?
                    </p>
                </article>
            </section>
        </section>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>